################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyWebApiAppV8/bin/Debug/net8.0
/MyWebApiAppV8/obj
